.coupon {
  border: 5px dotted #bbb;
  width: 50%;
  border-radius: 15px;
  max-width: 300px;
 
}

.aaaa {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
